################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UsersControlApp/.vs/UsersControlApp/v16
/.vs
